<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-md-8">
            <br/>
            <p>这是您通过SJTU Noticer订阅的最近{{ sending_interval }}天的校园信息更新。</p>
            <br/>
            {% for school_name, sites in content.items() %}
                <h3>{{ school_name }}</h3>
                <hr/>
                {% for site_name, entries in sites.items() %}
                    <h4>{{ site_name }}</h4>
                    <br/>
                    {% for entry in entries %}
                        <p><strong>{{ entry[0] }}</strong> <span class="text-muted">{{ entry[3]|string + "天前" if entry[3] > 0 else "今天" }}</span></p>
                        <p class="text-dark">{{ entry[1][:50] if entry[1].find("。") < 0 else entry[1][:entry[1].find("。") + 1] }} <a href="{{ entry[2] }}">...查看详情</a></p>
                        <br/>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
